<ng-container *ngIf="$userForm | async as userForm">
  <form [formGroup]="userForm" (ngSubmit)="send()">
    <label for="name">Nombre</label>
    <input type="text" id="name" formControlName="name" />
    <label for="lastName">Apellido</label>
    <input type="text" id="lastName" formControlName="lastName" />
    <button [disabled]="!userForm.valid">Enviar</button>
  </form>
  <div>
    <p>{{ userForm.get("name").value }}</p>
  </div>
  <button (click)="changeForm()">Cambiar formulario</button>
</ng-container>
